{% block styles %}
    <link href="{{ static 'global/css/Carbontask.css'}}" rel="stylesheet">
{% endblock %}


{{ block title }}Introduction of the main task{{ endblock }}
{{ block content }}

<p>
    This is how a carbon footprint of an individual looks like in our task. <br>
    <img  style="width:45%; height: 55%; "  src=/static/global/images/example.png>
    <br>
    <br>
</p>

The different lifestyles of these individuals refer to:
<ul> 
    <li> <b>Dietary behavior:</b> The respective person either follows a <b>meat-based diet (omnivorous)</b> or a <b>plant-based diet (vegetarian)</b> </li>
    <li> <b>Recycling behavior:</b> The respective person either <b>recycles comprehensively</b> or <b>does not recycle</b> </li>
    <li> <b>Regionality of food purchases:</b> The respective person either buys and consumes <b>mainly regional food </b> or <b>also imported</b> food items </li>
    <li> <b>Electricity supply:</b> The respective person either subscribed to an electricity supply that is <b>mixed, so includes fossil and some renewable sources</b> or <b>based 100% on renewable energy sources</b> </li>
    <li> <b>Commuting to work:</b> The respective person either commutes a total of 20km to and from work everyday, 5 days a week for 48 weeks per year <b>by bike</b>  or <b>by bus</b> </li>
    <li> <b>Traveling on vacation:</b> The respective person either <b>takes two medium distance flights a year (=3-6hours)</b> or <b>never flies to go on vacation </b> </li>

</ul>
<p>
    <i>That is, in the example above, the person follow a vegetarian diet, does not recycle, eats regional and imported food,
     subscribed to a mixed electricity supply, commutes every weekday to work by bus, and does not fly to go on vacation.</i>  <br>

</p>
<p>
    Next, you will estimate the carbon footprint of <b>16</b> persons with different lifestyles. <br>
    Please look at each individual carbon footprint carefully and take some time to provide your estimation. <br>
    The order in which the 6 behaviors are presented will change across the 16 examples you will see.
</p>

<div >
    <button id="nextst" style=" margin-top: 4vh;" disabled class="otree-btn-next btn btn-primary">Next</button>

</div>
{% endblock %}


{% block scripts %}
<script>


    enablebtn = function () {
        document.getElementById("nextst").disabled = false;
    }



    window.onload = function () {
        setTimeout(function () { enablebtn() }, 8 * 1000);
    }
</script>
{% endblock %}
